<h1>Scores</h1>

<% @scores.each do |game| %>
  <h2><%= game[:id] %></h2>
  <h3><%= game[:date] %></h3>
  <p><%= game[:awayteam_city]%></p>
  <p><%= game[:awayteam]%></p>
  <p><%= game[:away_score]%></p>
  <p><%= game[:hometeam_city]%></p>
  <p><%= game[:hometeam]%></p>
  <p><%= game[:home_score]%></p>

<% end %>
