<h1>Scores</h1>

<% @scores.each do |game| %>
  <h3><%= game[:date] %></h3>
  <p><%= game[:awayteam_city]%> <%= game[:awayteam]%>: <%= game[:away_score]%></p>
  <p><%= game[:hometeam_city]%> <%= game[:hometeam]%>: <%= game[:home_score]%></p>

<% end %>
